<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Alumno</title>
</head>
<body>
    <h1>Editar Alumno</h1>

    <form method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre" value="{{ alumno.nombre }}" required><br><br>

        <label>Apellido:</label>
        <input type="text" name="apellido" value="{{ alumno.apellido }}" required><br><br>

        <button type="submit">Actualizar</button>
    </form>

    <br>
    <a href="{{ url_for('home') }}">Volver</a>
</body>
</html>
